.box{
    font-family: 'Poppins', sans-serif;
}
    .all{
        display: flex;
        flex-direction: column;
        background-color:#FAFAFA;
        margin: 50px auto 0px auto;
        width: 70%;
    }
.container1 {
    display: flex;
    flex-direction: row;
    height: 111px;
    width: 65%;
    margin: 50px auto 0px auto;
    justify-content: space-between;
    background-color: #FAFAFA;
}
.h2 {
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-size: 36px;
    line-height: 47.7px;
    letter-spacing: -0.045em;
    color: #000000;
}
article>h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.box {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto 0px auto;
    background-color: #FAFAFA;
}
.inside {
    display: flex;
    flex-wrap: wrap;
    height: 860px;
    min-width: 50%;
   
    margin: 50px auto 0px auto;
}
.bbox {
    display: flex;
    width: 238px;
    height: 469.5px;
 
    margin-left: 70px;
    margin-bottom: 10px;
}
figure img{
    width: 238px;
    height: 341px;
}
.two,.five{
    align-items: flex-end;
}
@media only screen and (max-width: 415px) {
.all{
    width: 118%;
}
    .container1{
    flex-direction: column;
    height: 180px;
    width: 90%;
}
.box{
    width: 95%;
}
.bbox{
    margin-left: 0px;
    width: 170px;
    height: 424.5px;
}
figure img {
    width: 160px;
    height: 276px;
    margin-left: -32px;
}
.four,.six{
    align-items: flex-end;
}
.five{
    align-items: flex-start;
}
figcaption{
    margin-left: -24px;
    margin-top: 7px;
}
}